# Python extra files
*.pyc
*.ipynb_checkpoints

# Various plot images
*.pdf
*.jpg
*.png

# PyCharm metadata
.idea/

# Celltypes IO
singlecell/runs/
multicell/runs/
multicell/stored/
dataprocess/runs/
cytokine/runs/
input/2018_scMCA/
venv/
runs/
materials_KHW
